.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.gap {
  gap: 2rem;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.item-center {
  align-items: center;
}

.row {
  display: flex;
}

.column {
  display: block;
}

.grid {
  display: grid;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.color-B500{
  color: #27374d;
}

.wrap{
  flex-wrap: wrap;
}

.wrapper {
  margin: 0 auto;
}

.color-B300{
  color: #526d82;
}

.color-B100{
  color: #9db2bf;
}

h1{
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}