.container nav a {
  position: relative;
  color: #27374D;
  font-family: 'Segoe UI';
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.container nav a:hover{
  color: #526D82;
}

.container nav a::before{
  background-color: #526D82;
  content: "";
  position: absolute;
  height: 2.5px;
  width: 0%;
  bottom: -5px;
  left: 0;
  transition: all 0.5s;
  border-radius: 8px;
}

.container nav a:hover:before{
  width: 100%;
}

h1 {
  
}

/* img {
  height: 400px;
  width: 300px;
  margin: 16px;
  border-radius: 4px;
  transition: all 0.5s;
} */

img:hover {
  transform: scale(1.1);
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.w-25per {
  width: 25%;
}

.h-\[4\.625rem\] {
  height: 4.625rem; /* Xpx = font-size X * 4.625 */
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.justify-between {
  justify-content: space-between;
}

.item-center {
  align-items: center;
}

.flex {
  display: flex;
}

